@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
body{
    font-family:'Neorder thow',sans-serif;
    background-image: url('/images/relax-on-beach-600w-179137265.webp');
    background-size: cover;
}
.inicio-sesion{
    background:rgba(248, 245, 245, 0.5);
    box-shadow: 0px 8px 12px 0 rgb(90, 90, 90);
    backdrop-filter: blur(50px);
    border: solid 1px rgb(183, 183, 183);
    border-radius: 8px;
    height: 100%;
    width: 400px;
    position: relative;
    left: 500px;
    top: 100px;
    padding: 50px 10px 0px 10px;
    display:none;
}
.inicio-sesion input{
    display: inline-block;
    width: 100%; 
    padding: 10px;
    margin-top: 15px;
}
.inicio-sesion h1{
    color:#747472;
    
}
#email{
    width: 100%;  
}
#boton_inicio{
    margin:20px 0 20px 85px; 
    width: 200px;
    padding:10px 10px;
    background: linear-gradient(to right, #fa3e0f,#ffb133);
    color:#fdf5cf;
    border:none;
    position:relative;
    transition: background-color;
}
#boton_inicio:hover{
    background: linear-gradient(to top, #fc5c34,#ffb133);
    transition: .5s;
    font-weight: 900;
    font-size: 20px;
}
.inicio-sesion h1{
    text-align: center;
    position: inherit;
    top:-20px;
}
#recuperacion_contraseña{
    text-align: center;
    padding-top:10px ;
    font-size: 15px;
    font-weight: bold;
    color:#2e2e2e;
}
#recuperacion_contraseña a{
    margin-left:15px;
}
#textoregistrarme{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color:#2e2e2e;
}
#textoregistrarme a{
margin-left: 15px;
}
